@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700;800&display=swap');


:root{
  --font-family: 'Lato', sans-serif;
  --gradient-text: linear-gradient(89.97deg, #017083 1.84%, #FF5B00 42%, #FDA305 84%);
  --colour-bg-green: #1B5E20;
  --colour-bg-grey: #424242;
  --colour-text: #ffffff;
}